.card_container_right {
    margin: 5% 6%;
    width: 60%;
    float: right;
}

.card_container_left {
    min-width: 30%;
    float: left;
    margin: 6% 1%;
    /* background-color: rgba(0, 0, 0, 0.907); */
}



@media screen and (max-width: 950px) {

    .card_container_right {
        margin-left: 2rem;
        width: 100%;

    }

    .card_container_left {
        min-width: 500px;
        position: absolute;
        overflow: visible;
        right: 0;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.907);
        color: white;
        border: none;
        border-radius: 1rem;
        display: none;
    }


}

.show {
    display: block;
    /* background-color: black; */
    /* position: absolute; */
    /* float: none; */
}