.card_container_right {
    /* display: flex; */
    /* margin: 5% 0%; */
    margin: 5% 0%;
    width: 60%;
    float: right;
}

.card_container_left {
    min-width: 40%;
    float: left;
    margin: 6% 1%;
}



@media screen and (max-width: 950px) {

    .card_container_right {
        margin-left: 2rem;
        width: 100%;

    }

    .card_container_left {
        min-width: 500px;
        display: none;
    }

    .show {
        display: none;
        background-color: black;
        /* position: absolute; */
        /* float: none; */
    }

}