.card_container_right {
    margin: 5% 6%;
    width: 60%;
    float: right;
}

.card_container_left {
    min-width: 30%;
    float: left;
    margin: 6% 1%;
}



@media screen and (max-width: 990px) {

    .card_container_right {
        margin-left: 2rem;
        width: 100%;

    }

    .card_container_left {
        min-width: 500px;
        position: absolute;
        overflow: visible;
        right: 0;
        margin-top: 2rem;
        background-color: rgba(0, 0, 0, 0.907);
        color: white;
        border: none;
        border-radius: 1rem;
        display: none;
    }


}

@media screen and (max-width: 550px) {
    .card_container_left {
        min-width: 200px;
    }
}

.show {
    display: block;
}