.card_container {
    width: 60%;
    float: right;
    display: block;
}


.card_column {
    float: left;
    width: 28%;
    padding: 0 10px;
    margin: 2% 1%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: .5rem;
}

.card {
    background-size: cover;
    height: 5rem;
    background-repeat: no-repeat;
    padding: 2rem;
    border-radius: 1rem;
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.114); */

}

.card_column:hover {
    box-shadow: 0 0 25px rgba(72, 109, 241, 0.544);
    border-color: white;
}

.card h1 {
    background-color: rgba(0, 0, 0, 0.51);
    text-align: center;
    color: aliceblue;
}

.card h4 {
    text-align: center;
}

.leftItem {
    display: inline-flex;
    margin-left: 1rem;
    font-weight: 600;
    color: brown;
}

@media screen and (max-width: 990px) {
    .card_column {
        width: 500px;
        display: flex;
        margin-bottom: 20px;
    }

    .card {
        /* background-size: contain; */
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    .card_container {
        margin-right: 0;
    }

    .card_column h4 {
        margin: 1rem;
        margin-top: 4rem;
    }

    .footer button {
        width: 90px;
        margin: 3.5rem 1rem;
        padding: 1rem 2rem;
    }

    .footer button label {
        margin-inline: 0px;
        cursor: pointer;
    }
}

.prodImage {
    height: 5rem;
    width: 5rem;
}

.footer {
    background-color: transparent;
    margin: 3px;
}

.footer button {
    border: none;
    padding: 5px 12px;
    background-color: rgba(9, 9, 9, 0.605);
    color: white;
    border-radius: 1rem;
    cursor: pointer;

}

.footer button label {
    margin-inline: 5px;
    cursor: pointer;
}

.minus,
.plus {
    font-size: 0.85rem;
    font-weight: bold;
}


@media screen and (max-width: 470px) {
    .card_column {
        width: 400px;
        display: flex;
        margin-bottom: 10px;
    }

    .card {
        background-size: contain;
        width: 50px;
        height: 50px;
        margin-right: 0rem;
    }

    .card_container {
        margin-right: 0;
    }

    .card_column h4 {
        margin: 0.5rem;
        margin-top: 4rem;
    }

    .footer button {
        margin: 3.5rem 0rem;
        padding: 5px 10px;
        /* font-size: 10px; */
    }

    .footer button label {
        margin-inline: 4px;
        cursor: pointer;
    }

}