.card_container {
    margin: 0% 5%;
    border-radius: 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 990px) {
    .card_container {
        box-shadow: none;
    }
}

.innerCard {
    padding: 1rem;
}

.innerCard h3 {
    margin-left: 1rem;
}

.innerCard ul li {
    list-style: none;
}