.card_container {
    /* display: flex; */
    margin: 0% 5%;
    /* width: 500px; */
    /* float: right; */
    /* border: 3px solid black; */
    border-radius: 1rem;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 990px) {
    .card_container {
        box-shadow: none;
    }
}

.innerCard {
    padding: 1rem;
}

.innerCard h3 {
    margin-left: 1rem;
}

.innerCard ul li {
    list-style: none;
}