.navbar {
    height: 1.5rem;
    background-color: rgba(69, 90, 164, 0.544);
    padding: 1.5rem;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(72, 109, 241, 0.544);
}

.navbar label {
    float: left;
}

.navigation {
    float: right;
    margin-right: 4rem;
}

.navigation a {
    margin-left: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.cartIcon {
    font-size: 1.2rem;
    padding: 5px;
}

.cartCount {
    float: right;
    margin-left: -0.8rem;
    margin-top: -0.5rem;
    font-size: 13px;
    background-color: white;
    padding: 1px 6px;
    border-radius: 50%;

}

.navBack {
    background-color: rgba(128, 128, 128, 0.468);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.718);
}

.hidden {
    display: none;
}

@media screen and (max-width: 450px) {
    .navbar {
        width: 100vmax;
    }

    .navigation a {
        margin-left: 1rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    .navigation {
        float: right;
        margin-right: 2.2rem;
    }
}

/* @media screen and (max-width: 480px) {
    .navbar {
        width: 100vmax;
    }
} */